*.log
datasets/
pmd/
model-best*
.vs/
*.MOV
*.pth
*.db
*.png
*.jpg
*.gif
*.mp4
/nerfren/runs
/nerfren/runs*/
/nerfren/results
/nerfren/results*/
/nerfren/checkpoints
/nerfren/checkpoints*/
COLMAP-3.8-windows-cuda/